.head{
    text-align: center;
    color: #edc058;
}
.view{
    flex-direction: row;
    display: inline;
    margin-block: 10px;
    border-radius: 10px;
    height: 80px;
    width :100px;
}
.img{
    height:fit-content;
    width:auto;
}
.desr{
    font-size: 30px;
}
button {
    background-color: #2980b9;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.1em;
    display: block;
    margin: 0 auto;
}

button:hover {
    background-color: #3498db;
}
.button{
    background-color:#e08900;
    color: #090909;
 }
 .container {
       
    text-align: center;
    
    }
    img {
      
        max-width: 100%;
          
        height: auto;
        
        gap: 20%;
        }   
        .src {
               text-align: center;
               text-decoration-color: aquamarine;
               font-size: xx-large;
               color: skyblue
        }
        .qq {
            align-items: center;

        }