.qrh{
    text-align: center;
    color: #DC143C;
    }
    
    .container {
       
    text-align: center;
    
    }
    
    .navbar {
    
        width:98%;
        background-color: rgba(233, 227, 227, 0.964);
        padding:20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        z-index: 1000;
        display:flex;
    }
    .search-icon {
        width: 50px;
        height: 50px;
        fill: none;
        stroke: #555;
        stroke-width: 2px;
        transition: stroke 0.3s ease;
        position: absolute;
        left: 245px;
        width: 34px;
        bottom: 18px;
    }
    
    
    .search-icon:hover {
        stroke: #007bff;
        cursor: pointer;
    }
    
    
    .nav-left ::placeholder{
        color: black;
        font-size: 20px;
        
    }
    
    .nav-left .search-bar {
        padding: 5px 80px;
        border: none;
        border-radius: 5px;
        outline: none;
        background-color: rgba(167, 120, 62, 0.597);
        border: 1px solid rgb(27, 6, 6);
        width:50vw;
        height:45px;
    margin-left: 200px;
    position: relative;
    
        
    }
    
    .nav-right {
        list-style-type: none;
        display: flex;
        gap:10px;
        align-items:start;
        flex-wrap: wrap;
        padding-right: 50px;
    
    }
    
    
    .nav-right li {
        margin-left: 20px;
        
    }
    
    
    
    .nav-right a {
        text-decoration: none;
        color: white;
        font-size: 16px;
        transition: color 0.3s;
    
    }
    
    .nav-right a:hover {
        color: #f0a500;
    }
    .nav-right :nth-child(1){
        color: rgb(138, 5, 5);
    font-weight: bolder;
    font-size:35px ;
    }
    
    img {
      
    max-width: 100%;
      
    height: auto;
    
    gap: 20%;
    }
    .text{
    text-align:center;
    color: brown;
    }
    footer {
         display: flex;    
        flex-direction: column;
        background-color: rgb(6, 5, 5);
        align-items: center;
            color: rgb(223, 216, 216);
            width:100%;
    }
         .footer0 h1{
            font-size: 60px;
         }
         .footer1 {    
        display: flex;    
        flex-direction: column;   
         align-items: center;    
        color: rgb(158, 28, 28);
            filter: invert(1);
        margin-top: 15px;
        font-size: 30px;
        gap:15px;
         }
        .social-media {  
        display: flex;   
        justify-content: center;    
        color: white;      
        flex-wrap: wrap;
         
         }
          
        .social-media a {
           
         color: white;
            
        margin: 20px;
            
        border-radius: 5px;
            
        margin-top: 10px;
           
         color: rgb(214, 207, 207);
         filter: invert(1);
        padding-left: 4%;
         
         }
         
        
         
         
         
         .footer2 {
            
        display: flex;
            
        width: 100%;
           
         justify-content: space-evenly;
            
        align-items: center;
            
        text-decoration: none;
            
        flex-wrap: wrap;
          
        }
          
        .footer0 {
           
         font-weight: 1200;
           color: #090909;
         transition-duration: 1s;
         
         }
        
          .footer0:hover {
            
        color: rgb(243, 168, 7);
          
        }
         
        .footer2 .heading {
           
         font-weight: 900;
            
        font-size: 18px;
        
         
         }
         
         .footer3 {
            
        margin-top: 60px;
            
        margin-bottom: 20px;
            
        display: flex;
            
        flex-wrap: wrap;
           
         justify-content: center;
          
        }
        .footer2 .heading{
          color: rgb(134, 140, 21);
        }
        
          .footer2 .heading:hover {
           
         color: rgb(243, 168, 7);
        
         }
         
         .footer2 .div:hover {
           
         transform: scale(1.05);
         
         }
        
          .footer3 h4 {
            margin: 0 10px;
        
        }
        
      .footer2 div {
          
      margin: 10px;
       
       }
       .invert{
          filter: invert(1);
       }